@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    font-family: Source Sans Pro;
    background-color: #eee;
}

header{
    font-family: Abril Fatface;
    
}
header h1{
    text-align: center;
}

h2{
    font-family: Robot Slab;
}

.newspaper-container{
    background-color: white;
    display: block;
    width: 700px;
    border-radius: 1%;
    box-shadow: 5px #ddd;
    padding: 20px;
    margin: auto;
}
ul {
    
    list-style-type: none;
    padding: 5px;
    border: solid black;
    border-width: 2px 0 2px 0 ;

}
li{
    display: inline-block;
    padding: 5px;
}
nav:link{
    color:#777;
}
.more-articles section{
    display: inline-block;
    text-align: justify;
    width: 47%;
    

}
.more-articles p{
    display: inline-block;
    text-align: justify;
    padding: 0 30px 0 0;
    

}    
